@font-face {
    font-family: 'LoraItalic';
    src: url('lora-italic.eot');
    src: url('lora-italic.eot') format('embedded-opentype'),
         url('lora-italic.woff') format('woff'),
         url('lora-italic.ttf') format('truetype'),
         url('lora-italic.svg#LoraItalic') format('svg');
}
